.card-text {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.card-text p {
  text-align: left;
}

.card-text h1 {
  margin-top: 16px;
  font-size: 18px;
}

.card-text {
  margin-left: 16px;
}

.about-introduction h4 {
  margin: 8px;
}

.card-collection-article {
  border-radius: 8px;
  padding: 24px 24px;
  margin-top: 24px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.about-introduction {
  width: 90vw;
  margin: auto;
  padding-bottom: 2rem;
}

@media (min-width: 760px) {
  .card-collection-article {
    display: flex;
    justify-content: center;
  }
  .about-introduction {
    width: 70vw;
  }
}

.card-img {
  min-height: 200px;
  max-height: 200px;
  min-width: 250px;
  max-width: 250px;
  object-fit: cover;
}

.about-introduction p {
  text-align: left;
}

.about-introduction.dark {
  background-color: rgb(53, 53, 53);
  color: #dcdddd;
}

.about-introduction.dark .card-collection-article {
  background-color: rgb(82, 81, 81);
}

.about-introduction.dark .card-title {
  color: #66ced0;
}
